.categoryList {
   margin-top: 35px;
   margin-bottom: 60px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
 }
 
 .categoryItem {
   padding: 10px 25px;
   border-radius: 10px;
   font-size: 14px;
 }
 
 .categoryItem.general {
   background-color: #57c4ff31;
 }
 
 .categoryItem.political {
   background-color: #da85c731;
 }
 
 .categoryItem.sports {
   background-color: #7fb88133;
 }
 
 .categoryItem.musica {
   background-color: #ff795736;
 }
 
 .categoryItem.food {
   background-color: #ffb04f45;
 }
 
 .categoryItem.dev {
   background-color: #5e4fff31;
 }